.page-signin {
    height: 100vh;

    .ant-form {
        border: 1px solid #000;
        border-radius: 2rem;
        padding: 3rem 7rem;

        .ant-typography {
            margin-bottom: 3rem;
            margin-left: 1rem;
        }

        .signup {
            margin: 0;
            text-align: center;
        }

        .ant-btn {
            width: 100%;
        }
    }
}
